<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{> header }}
  </head>
  <body>
    <main>
      <p 
        class="circle"
        style="background-color: {{ color }};"
      >
        Time left: <br>{{ setEnding days }} and {{ shorten hours }} ⏳</p>
      <a class="button-link" href="/calculate">Try again</a>
    </main>
    {{> footer }}
  </body>
</html>