* {
  font-family: Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

form {
  margin-top: 30px;
}

input {
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
}

button {
  display: block;
  margin: 7px auto;
  padding: 10px 20px;
  background: #ef9503;
  border: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase; 
}

a {
  padding: 5px 10px;
  color: #006eff;
  text-decoration: none;
  border: 1px solid #006eff;
  border-radius: 5px;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.landing {
  font-size: 1.1em;
  color: #323f73;
  text-align: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  padding: 20px;
  font-size: 1.4em;
  text-align: center;
  line-height: 2em;
  color: #fff;
  background: #8fafe4 url('img/background.jpg') no-repeat center;
  background-size: 700px;
  border-radius: 50%;
}

.circle--results {
  background-image: url('img/background2.jpg');
}

.small {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: .7em;
  color: #999;
}

.emphasized {
  display: block;
  color: yellow;
}

.button-link {
  display: block;
  padding: 10px 20px;
  background: #3030b3;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color .2s;
}

.button-link:hover {
  background-color: #90b330;
}